{% include 'partials/header.html' %}
<div style="margin-top: 100px;"></div>
<div class="container">
    <div class="col-md-12"  style="margin-top: 56px; height: 100px">
        <h1>Add Tag</h1>
    </div>
    <div>


        <form method="post">
            {% csrf_token %}
            {% for name in form %}
            <div class="fieldWrapper my-1">
                {{ name.errors }}
                <div>
                    <h4> {{ name.label_tag }}</h4>
                </div>
                {{ name }}
            </div>
            {% endfor %}
            <br>
            <button type="submit" class="btn btn-sm btn-outline-secondary my-1" style="width:100px; height:40px;">Add
            </button>
        </form>
    </div>
</div>
{% include 'partials/footer.html' %}