{% include 'partials/header.html' %}

<div style="margin-top: 100px;"></div>
<div class="container">
    <div class="font-weight-bold col-md-12 my-5" style="height: 65px">
        <h1>Add Task</h1>
    </div>
    <div>
        <form method="post">
            {% csrf_token %}
            <ul class="fieldWrapper my-1 list-inline" style="text-align:left, top;">
                <li class="list-inline-item">
                    <label for="{{ form.name.id_for_label }}">
                        <h5>Name:</h5>
                    </label>
                    <br>
                    {{ form.name }}
                    {% if form.name.errors %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Warning!</strong> {{ form.name.errors }}
                    </div>
                    {% endif %}
                </li>
                <li class="list-inline-item">
                    <label for="{{ form.deadline.id_for_label }}">
                        <h5>Deadline:</h5>
                    </label>
                    <br>
                    {{ form.deadline }}
                    {% if form.deadline.errors %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Warning!</strong> {{ form.deadline.errors }}
                    </div>
                    {% endif %}
                </li>
                <li class="list-inline-item">
                    <label for="{{ form.end_time.id_for_label }}">
                        <h5>End time:</h5>
                    </label>
                    <br>
                    {{ form.end_time }}
                    {% if form.end_time.errors %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Warning!</strong> {{ form.end_time.errors }}
                    </div>
                    {% endif %}
                </li>
                <li class="list-inline-item">
                    <label for="{{ form.project.id_for_label }}">
                        <h5>Project:</h5>
                    </label>
                    <br>
                    {{ form.project }}
                    {% if form.project.errors %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Warning!</strong> {{ form.project.errors }}
                    </div>
                    {% endif %}
                </li>
                <li class="list-inline-item">
                    <label for="{{ form.parent.id_for_label }}">
                        <h5>Parent:</h5>
                    </label>
                    <br>
                    {{ form.parent }}
                    {% if form.parent.errors %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Warning!</strong> {{ form.parent.errors }}
                    </div>
                    {% endif %}
                </li>
                <li class="list-inline-item">
                    <label for="{{ form.priority.id_for_label }}">
                        <h5>Priorities:</h5>
                    </label>
                    <br>
                    {{ form.priority }}
                    {% if form.priority.errors %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Warning!</strong> {{ form.priority.errors }}
                    </div>
                    {% endif %}
                </li>
            </ul>
            <br>
            <ul class="fieldWrapper my-1 list-inline">
                <li class="list-inline-item">
                    <label for="{{ form.description.id_for_label }}">
                        <h5>Description:</h5>
                    </label>
                    <br>
                    {{ form.description }}
                    {% if form.description.errors %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Warning!</strong> {{ form.description.errors }}
                    </div>
                    {% endif %}
                </li>
                <li class="list-inline-item">
                    <label for="{{ form.tags.id_for_label }}">
                        <h5>Tags:</h5>
                    </label>
                    <br>
                    {{ form.tags }}
                    {% if form.tags.errors %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Warning!</strong> {{ form.tags.errors }}
                    </div>
                    {% endif %}
                </li>
            </ul>
            <ul class="fieldWrapper my-1 list-inline">
                <li class="list-inline-item">
                    <label for="{{ form.periodicity.id_for_label }}">
                        <h5>Periodicity</h5>
                    </label>

                    {{ form.periodicity }}
                     <div class="alert alert-secondary" role="alert">
                        <strong>Note. Available format (h, w, m, y)
                            or (hourly, daily, monthly, yearly)</strong>
                    </div>
                    {% if form.periodicity.errors %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Warning!</strong> {{ form.periodicity.errors }}
                    </div>
                    {% endif %}
                </li>

            </ul>
            <br>
            <button type="submit" class="btn btn-sm btn-outline-secondary my-1" style="width:100px; height:40px;">Add
            </button>
        </form>
    </div>
</div>
<!--<form method='post'>-->
<!--{% csrf_token %}-->
<!--{% if form.non_field_errors %}-->
<!--<div class="alert alert-danger" role="alert">-->
<!--<strong>Warning!</strong> {{ form.non_field_errors }}-->
<!--</div>-->
<!--{% endif %}-->
<!--{# {{ form.non_field_errors }}#}-->
<!--<div class="container">-->
<!--<div class='row justify-content-center align-items-center'>-->
<!--<div class='col-6'>-->

<!--<div class="fieldWrapper">-->
<!--<label for="{{ form.name.id_for_label }}">Name:</label>-->
<!--{{ form.name }}-->
<!--{% if form.name.errors %}-->
<!--<div class="alert alert-danger" role="alert">-->
<!--<strong>Warning!</strong> {{ form.name.errors }}-->
<!--</div>-->
<!--{% endif %}-->
<!--</div>-->
<!--<div class="fieldWrapper">-->
<!--<label for="{{ form.description.id_for_label }}">description:</label>-->
<!--{{ form.description }}-->
<!--{% if form.description.errors %}-->
<!--<div class="alert alert-danger" role="alert">-->
<!--<strong>Warning!</strong> {{ form.description.errors }}-->
<!--</div>-->
<!--{% endif %}-->
<!--</div>-->
<!--<div class="fieldWrapper">-->
<!--<label for="{{ form.priority.id_for_label }}">Priority:</label>-->
<!--{{ form.priority }}-->
<!--{% if form.priority.errors %}-->
<!--<div class="alert alert-danger" role="alert">-->
<!--<strong>Warning!</strong> {{ form.priority.errors }}-->
<!--</div>-->
<!--{% endif %}-->
<!--</div>-->

<!--<div class="fieldWrapper">-->
<!--<label for="{{ form.deadline.id_for_label }}">Deadline:</label>-->
<!--{{ form.deadline }}-->
<!--{% if form.deadline.errors %}-->
<!--<div class="alert alert-danger" role="alert">-->
<!--<strong>Warning!</strong> {{ form.deadline.errors }}-->
<!--</div>-->
<!--{% endif %}-->
<!--</div>-->
<!--<div class="fieldWrapper">-->
<!--<label for="{{ form.tags.id_for_label }}">Tags:</label>-->
<!--{{ form.tags }}-->
<!--{% if form.tags.errors %}-->
<!--<div class="alert alert-danger" role="alert">-->
<!--<strong>Warning!</strong> {{ form.tags.errors }}-->
<!--</div>-->
<!--{% endif %}-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<button type='submit' class="btn btn-warning">Add</button>-->
<!--</form>-->
{% include 'partials/footer.html' %}