{% include 'partials/header.html' %}
<div style="margin-top: 100px;"></div>
<h1>{{task.name}}</h1>
<br>
<h5>
    Status: {{task.get_status_display}}
</h5>
<br>
<h5>Description:</h5>
<h6>{{task.description}}</h6>
<br>

<br>
<h5>Deadline: </h5>
<h6>{{task.deadline}}</h6>
<br>
<h5>End Time:</h5>
<h6>{{task.end_time}}</h6>
<br>
<h5>Created at:</h5>
<h6>{{task.create_at}}</h6>
<br>

{% for tag in tags %}
<button class="btn btn-sm btn-outline-secondary"
        href="{% url 'tag_details' tag.id %}" style="width:100px; height:40px;">
    <a> #{{tag.name}}</a>
</button>
{% endfor %}


{% include 'partials/footer.html' %}