{% include 'partials/header.html' %}
<br>
<div class="container">
    <div class="font-weight-bold col-md-12 my-5" style="height: 65px">
        <h1>Task's</h1>
    </div>
    <div class="row">
        <div class="col-md-5" style="border: solid red;">
            {% for task in tasks %}
            <div class="card mb-4 shadow-sm" style="border: solid red; center;">
                <div class="card-body">
                    <a class="card-text" href="{% url 'details' task.id %}">
                        <h4>
                            {{task.name}}
                        </h4>
                    </a>
                    <br>
                    <div>
                        <h6>
                            <p class="card-text">{{task.description}}</p>
                        </h6>
                    </div>
                    <br>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <form action="{% url 'details' task.id %} " method="post">
                                {%csrf_token%}
                                <button class="btn btn-sm btn-outline-secondary">Complete</button>
                            </form>
                            <form action="{% url 'details' task.id %} " method="post">
                                {%csrf_token%}
                                <button type="button" class="btn btn-sm btn-outline-secondary">Details</button>
                            </form>
                            <form action="{% url 'details' task.id %} " method="post">
                                {%csrf_token%}
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                            </form>
                            <form action="{% url 'delete_task' task.id %} " method="post">
                                {%csrf_token%}
                                <button class="btn btn-sm btn-outline-secondary">Delete</button>
                            </form>
                        </div>
                        <small class="text-muted">{{task.create_at}}</small>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'partials/footer.html' %}

