{% include 'partials/header.html' %}

<div style="margin-top: 100px;"></div>
<div class="container">
    <div class="font-weight-bold col-md-12 my-5" style="height: 65px">
        <h1>Task's</h1>
    </div>
    <div>
        <table class="table">
            <thead>
            <form action="{% url 'add_task_fast' %} " method="post">
                {%csrf_token%}
                <th scope="col"></th>

                <th scope="col">
                    <h4>Task:</h4>
                </th>
                <th scope="col"></th>
                <th scope="col">
                    <input type="text" name="name" id="name" class="form-control" aria-label="small">
                </th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col">

                </th>
                <th scope="col">
                    <button style="width:100px; height:40px;"
                            class="btn btn-sm btn-outline-secondary">Add
                    </button>
                </th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </form>

            </thead>
            <tbody>
            {% for task in tasks %}


            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <h3>{{task.name}}</h3>
                </td>

                <!--<th scope="row">-->
                <!--&lt;!&ndash;<h3>{{task.name}}</h3>&ndash;&gt;-->
                <!--{% if not task.parent %}-->
                <!--{%include "view.html" %}-->
                <!--</th>-->
                <!--{% endif %}-->

                </th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <form action="{% url 'complete_task' task.id %} " method="post">
                        {%csrf_token%}
                        <button style="width:100px; height:40px;"
                                class="btn btn-sm btn-outline-secondary">Complete
                        </button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'details' task.id %} " method="post">
                        {%csrf_token%}
                        <button style="width:100px; height:40px;"
                                class="btn btn-sm btn-outline-secondary">Details
                        </button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'change_task' task.id %} ">
                        {%csrf_token%}
                        <button style="width:100px; height:40px;"
                                class="btn btn-sm btn-outline-secondary">Edit
                        </button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'delete_task' task.id %} " method="post">
                        {%csrf_token%}
                        <button style="width:100px; height:40px;"
                                class="btn btn-sm btn-outline-secondary">Delete
                        </button>
                    </form>
                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
