{% include 'partials/header.html' %}

<div style="margin-top: 100px;"></div>

<form method="post">
    {% csrf_token %}
    <h2>Project: {{ project.name }}</h2>
    <br>
    <label for="user">
        <h5>Users</h5>
    </label>
    <br/>
    <div class="container" >
        <div style="margin-left: auto; margin-right: auto; width: 15em;">
            <select class="form-control  form-control-sm" name="user" multiple="multiple"
                    style="width: 250px; ">
                {% for user in users %}
                <option value="{{ user.id }}" {% if user in project.users.all %}selected{% endif %}>{{ user }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <br>
    <button style="width:100px; height:40px;"
            class="btn btn-sm btn-outline-secondary">
        Ready
    </button>
</form>


{% include 'partials/footer.html' %}