{% include 'partials/header.html' %}
<div style="margin-top: 100px;"></div>
<br>
<div class="container">
    <div class="font-weight-bold col-md-12 my-5" style="height: 65px">
        <h1>Project's</h1>
    </div>
    <div>
        <table class="table">
            <thead>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>


            </thead>
            <tbody>
            {% for project in projects %}


            <tr>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <th scope="row">
                    <h3>{{project.name}}</h3>
                </th>

                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>
                    <form action="{% url 'project_users' project.id %} ">
                        {%csrf_token%}
                        <button style="width:100px; height:40px;"
                                class="btn btn-sm btn-outline-secondary">
                            Edit Users
                        </button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'project_details' project.id %} " method="post">
                        {%csrf_token%}
                        <button style="width:100px; height:40px;"
                                class="btn btn-sm btn-outline-secondary">
                            Details
                        </button>
                    </form>
                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% include 'partials/footer.html' %}