{% include 'partials/header.html' %}

<div style="margin-top: 100px;"></div>

<div class="container">
    <h2>Project: {{ project.name }}</h2>
    <br>
    <h4>Owner: {{ owner }}</h4>
    <h4>Users: </h4>
    <div style="margin-left: auto; margin-right: auto; width: 15em;">
        <select class="form-control  form-control-sm" name="user" multiple="multiple"
                style="width: 250px; ">
            {% for user in users %}
            <option value="{{ user.id }}" {% if user in project.users.all %}selected{% endif %}>{{ user.username }}
            </option>
            {% endfor %}
        </select>
    </div>
    <br>
    <h4>Tasks:</h4>
    <br>
    <div>
        <table class="table">
            <thead>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>


            </thead>
            <tbody>
            {% for task in tasks %}


            <tr>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <th scope="row">
                    <h3>{{task.name}}</h3>
                </th>

                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>
                    <form action="{% url 'complete_task' task.id %} " method="post">
                        {%csrf_token%}
                        <button style="width:100px; height:40px;"
                                class="btn btn-sm btn-outline-secondary">Complete
                        </button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'details' task.id %} " method="post">
                        {%csrf_token%}
                        <button style="width:100px; height:40px;"
                                class="btn btn-sm btn-outline-secondary">Details
                        </button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'change_task' task.id %} " method="post">
                        {%csrf_token%}
                        <button style="width:100px; height:40px;"
                                class="btn btn-sm btn-outline-secondary">Edit
                        </button>
                    </form>
                </td>
                <td>
                    <form action="{% url 'delete_task' task.id %} " method="post">
                        {%csrf_token%}
                        <button style="width:100px; height:40px;"
                                class="btn btn-sm btn-outline-secondary">Delete
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
</div>

{% include 'partials/footer.html' %}