{% include 'partials/header.html' %}
<div style="margin-top: 100px;"></div>
<br>
<div class="container">
    <div class="font-weight-bold col-md-12 my-4" class="col-md-12 my-4">
        <h1>Tags</h1>
    </div>
    {% for tag in tags %}
    <div class="row">
        <div class="col-md-12 my-2">
            <form action="{% url 'tag_details' tag.id %} " method="post">
                {%csrf_token%}
                <button class="btn btn-sm btn-outline-secondary"
                        href="{% url 'tag_details' tag.id %}" style="width:100px; height:40px;">
                    <a> #{{tag.name}}</a>
                </button>
            </form>

            <br>
        </div>

    </div>
    {% endfor %}
</div>
{% include 'partials/footer.html' %}