<div>
    <table class="table">
        <tbody class="font-weight-bold col-md-12 my-5">
        {% for task in tasks %}


        <tr>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <th scope="row">
                <!--<h3>{{task.name}}</h3>-->
                {% if not task.parent %}
                {%include "view.html" %}
                {% endif %}
                <table class="table">
                    <td>hello</td>
                    <td>
                        <form action="{% url 'complete_task' task.id %} " method="post">
                            {%csrf_token%}
                            <button style="width:100px; height:40px;"
                                    class="btn btn-sm btn-outline-secondary">Complete
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'details' task.id %} " method="post">
                            {%csrf_token%}
                            <button style="width:100px; height:40px;"
                                    class="btn btn-sm btn-outline-secondary">Details
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'change_task' task.id %} " method="post">
                            {%csrf_token%}
                            <button style="width:100px; height:40px;"
                                    class="btn btn-sm btn-outline-secondary">Edit
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action="{% url 'delete_task' task.id %} " method="post">
                            {%csrf_token%}
                            <button style="width:100px; height:40px;"
                                    class="btn btn-sm btn-outline-secondary">Delete
                            </button>
                        </form>
                    </td>
                </table>
            </th>

            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>
                <form action="{% url 'complete_task' task.id %} " method="post">
                    {%csrf_token%}
                    <button style="width:100px; height:40px;"
                            class="btn btn-sm btn-outline-secondary">Complete
                    </button>
                </form>
            </td>
            <td>
                <form action="{% url 'details' task.id %} " method="post">
                    {%csrf_token%}
                    <button style="width:100px; height:40px;"
                            class="btn btn-sm btn-outline-secondary">Details
                    </button>
                </form>
            </td>
            <td>
                <form action="{% url 'change_task' task.id %} " method="post">
                    {%csrf_token%}
                    <button style="width:100px; height:40px;"
                            class="btn btn-sm btn-outline-secondary">Edit
                    </button>
                </form>
            </td>
            <td>
                <form action="{% url 'delete_task' task.id %} " method="post">
                    {%csrf_token%}
                    <button style="width:100px; height:40px;"
                            class="btn btn-sm btn-outline-secondary">Delete
                    </button>
                </form>
            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>