
<h3>{{task.name}}</h3>

<ul>
    {%for ch in task.children.all %}
    {% if ch.status == "I" %}
    {%with task=ch template_name="view.html" %}
    <br>
    {%include template_name%}
    {%endwith%}
    {% endif %}
    {%endfor%}
</ul>