<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Log In</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</head>

<body class="text-center">
<div style="height: 160px;"></div>
<div style="height: 65px">
    <h1>Login</h1>
</div>
<div class="container">

    <br>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <form action="/auth/login/" method="post">
                {% csrf_token %}
                <input type="text" name="username" id="username" class="form-control" placeholder="Login"
                       required autofocus style="width:330px">
                <br>
                <input type="password" name="password" id="password" class="form-control"
                       placeholder="Password" required style="width:330px">
                {% if login_error %}
                <div class="alert alert-warning" role="alert">
                    <strong>Warning!</strong> Wrong login or password
                </div>
                {% endif %}
                <div style="height: 30px;"></div>
                <div class="row">
                    <div class="col-lg-4"></div>

                    <div class="col-lg-4">
                        <button class="btn btn-sm btn-outline-secondary" style="width:100px; height:40px;">
                            Login
                        </button>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
            </form>
        </div>
        <div class="col-lg-4"></div>
    </div>
    <br>
     <br>
     <br>

    <a href="{% url 'registration' %}"> Registration</a>

</div>

</body>
</html>