<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body class="text-center">
<div style="height: 160px;"></div>
<div class="container">
    <div class="row">
        <div class=" center-block">
            <h1>Registration</h1>
        </div>
        <br>
        <div>
            <form action="/auth/registration/" method="post"> {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button type="submit" class="btn btn-sm btn-outline-secondary">Register</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>